<div class="col-md-8 order-md-1">
  <h4 class="mb-3">Sistema de reserva de viagens com Angular</h4>

  <form [formGroup]="formReserva">
    <div class="mb-3">
      <label for="dataIda">Data de Ida</label>
      <input
        type="date"
        class="form-control"
        formControlName="dataIda"
        [ngClass]="{'is-invalid': formReserva.get('dataIda')?.invalid}"
      >
      <div *ngIf="formReserva.get('dataIda')?.invalid" class="text-danger">
        Selecione uma data válida
      </div>
    </div>

    <div class="mb-3">
      <label for="dataVolta">Data de Volta</label>
      <input
        type="date"
        class="form-control"
        formControlName="dataVolta"
        [ngClass]="{
          'is-invalid': (formReserva.get('dataVolta')?.invalid) || isDataInvalida()
        }"
      >
      <div *ngIf="formReserva.get('dataVolta')?.invalid" class="text-danger">
        Selecione uma data válida
      </div>
      <div *ngIf="isDataInvalida()" class="text-danger">
        A data de volta não pode ser antes da data de ida
      </div>
    </div>

    <div class="mb-3">
      <label for="destino">Destino</label>
      <select
        class="custom-select d-block w-100"
        formControlName="destino"
        [ngClass]="{'is-invalid': formReserva.get('destino')?.invalid}"
      >
        <option value="">Escolha...</option>
        <option value="Paris">Paris</option>
        <option value="Nova Iorque">Nova Iorque</option>
        <option value="Tóquio">Tóquio</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
      </select>
      <div *ngIf="formReserva.get('destino')?.invalid" class="text-danger">
        Campo obrigatório
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="numeroPassageiros">Número de passageiros</label>
      <input
        type="number"
        class="form-control"
        formControlName="numeroPassageiros"
        placeholder="1"
        [ngClass]="{'is-invalid': formReserva.get('numeroPassageiros')?.invalid}"
      >
      <div *ngIf="formReserva.get('numeroPassageiros')?.invalid" class="text-danger">
        O número de passageiros deve estar entre 1 e 5
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email de contato</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="you@example.com"
        [ngClass]="{'is-invalid': formReserva.get('email')?.invalid}"
      >
      <div *ngIf="formReserva.get('email')?.invalid" class="text-danger">
        Insira um e-mail válido
      </div>
    </div>

    <button
      class="btn btn-primary btn-lg btn-block"
      type="button"
      [ngClass]="{'botao-desativado': !isFormValid()}"
      [disabled]="!isFormValid()"
      (click)="logInformation()"
    >
      Continue to checkout
    </button>
  </form>
</div>
